{{ $title:= .context.title}}
{{ $subtitle:= .context.subtitle}}
{{ $project_items:= .context.project_item}}

{{ if .context.full_width }}
<section class="section pt-0">
  <div class="pb-4 bg-gray-white">
    <div class="container">
      <div class="row">
        {{ with site.GetPage "project" }}
        <div class="col-md-8">
          <div class="section-title-border"></div>
          <h4 class="section-title-sm">{{ $title | markdownify }}</h4>
          <h2>{{ $subtitle | markdownify }}</h2>
        </div>
        {{end}}
        {{ with .Params.project }}
        {{ if .button.enable }}
        {{ with .button }}
        <div class="col-md-4 text-right align-self-end d-md-block d-none">
          <a href="{{ .link | absLangURL }}" class="btn btn-primary mb-3 hover-ripple">{{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="row no-gutters">

        {{ range $project_items }}
          {{ $page_name := .page_name }}
          {{ with site.GetPage "project" }}
             {{ with .GetPage $page_name }}
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              {{ .Render "project"}}
            </div>
             {{ end}}
          {{ end }}
        {{ end }}
    </div>
  </div>

</section>

{{ else }}
  {{ with site.GetPage "project" }}
    <section class="section bg-gray-white position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-title-border mx-auto"></div>
            <h4 class="section-title-sm">{{ $subtitle | markdownify }}</h4>
            <h2 class="section-title">{{ $title }}</h2>
          </div>
        </div>
        <div class="row">
          {{ range $project_items }}
            {{ $page_name := .page_name }}
            {{ with site.GetPage "project" }}
              {{ with .GetPage $page_name }}
                <article class="col-lg-4 col-sm-6 mb-lg-0 mb-4 zindex-1">
                  {{ .Render "project" }}
                </article>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
      {{ "<!-- background shapes -->" | safeHTML }}
      <img loading="lazy" class="img-fluid blog-shape-left" src="{{`images/backgrounds/blog-bg-left.png` | relURL }}">
      <img loading="lazy" class="img-fluid blog-shape-right" src="{{`images/backgrounds/blog-bg-right.png` | relURL }}">
    </section>
  {{ end }}

{{ end }}
