{{ with .context }}
    <section class="section">
      <div class="d-flex">
        <div>
          {{ if eq .title_position "Left"}}
            <img loading="lazy" class="ximg-fluid xw-100" style="width:100px;" src="/images/title_icons/{{ .title_icon }}" />
            <img loading="lazy" style="width:50%;" class="ximg-fluid xw-100" src="/images/title_images/{{ .title_image }}" />
          {{end}}
        </div>
        <div class="ml-auto">
          {{ if eq .title_position "Right"}}
            <img loading="lazy" class="ximg-fluid xw-100" style="width:100px;" src="/images/title_icons/{{ .title_icon }}" />
            <img loading="lazy" style="width:50%;" class="ximg-fluid xw-100" src="/images/title_images/{{ .title_image }}" />
          {{end}}
        </div>
      </div>

  {{ if eq .style "ImageLeft"}}

      <div class="container">

        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 bg-contain">
            <img loading="lazy" class="img-fluid w-100" src="/images/paragraph/{{ .image }}" onerror="this.onerror=null;this.src='{{.image | absURL }}'" alt="About Image">
          </div>

          <div class="col-md-6">
            <div class="section-title-border"></div>
            <p class="mb-5">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | absLangURL }}" class="btn btn-primary hover-ripple">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>

  {{end}}

  {{ if eq .style "ImageRight"}}

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-lg-6  order-lg-1 order-2">
            <div class="section-title-border"></div>
            <p class="mb-5">{{ .content | markdownify }}</p>
          </div>

          <div class="col-lg-5 pr-lg-0 order-lg-2 order-1 mb-5 mb-lg-0">
            <div class="feature-img-bg box-shadow">
              <img loading="lazy" class="img-fluid w-100" src="/images/paragraph/{{ .image }}" onerror="this.src='{{ .image | absURL }}'" alt="feature-image">
            </div>
          </div>
        </div>
      </div>
  {{ end }}

    </section>
{{end}}
